.qr-container {
    display: flex;
}
.qr-contents {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.qr-title {
    color: white;
    padding-top: 25px;

}
.qr-btn {
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.qr-end {
    text-align: center;
}
